.btn__arrows {
  font-size: 23px;
  border: none;
  outline: none;
  font-family: "Montserratarm-ExtraBold";
  //line-height: 30px;
  position: relative;
  text-align: center;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease 0s;
  @media screen and (max-width: 900px) {
    font-size: 20px;
  }

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
  }
}
