.exchange_btn {
  display: flex;
  justify-content: center;
  width: 90%;

  .btn__arrows {
    font-size: 14px;
    border: none;
    outline: none;
    font-family: "Montserratarm-ExtraBold";
    position: relative;
    text-align: center;
    font-weight: bold;
    width: 90%;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease 0s;
    color: #182E33;
    height: 40px;
    background-color: #ffffff;
    display: flex;

    &:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 0px;
      width: 0px;
      height: 0px;
      border-top: 20px solid transparent;
      border-right: 32px solid #ffffff;
      border-bottom: 20px solid transparent;
    }

    &:after {
      content: "";
      position: absolute;
      left: 100%;
      top: 0px;
      width: 0px;
      height: 0px;
      border-top: 20px solid transparent;
      border-left: 32px solid #FEDF00;
      border-bottom: 20px solid transparent;
    }
  }

  .opened {
    &:after {
      border-bottom: 20px solid #FEDF00;
    }
  }

  .input {
    width: 50%;
    //height: 100%;
    border: none;
    outline: none;
    font-family: "Montserratarm-Medium";
    line-height: 17px;

    &::placeholder {
      color: #c4c4c4;
    }
  }

  .select_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    position: relative;
    background-color: #FEDF00;
    padding-left: 15px;

    .select_block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .select_cont {
      width: calc(100% + 32px);
      background-color: #FEDF00;
      position: absolute;
      top: 100%;
      z-index: 12;
      left: 0;

      .crypto_select {
        .css-4ljt47-MenuList {
          padding-top: 0 !important;
          padding-bottom: 0 !important;

          div {
            padding: 4px;
            font-family: "Montserratarm-Medium";
            color: #182E33;
            font-size: 16px;
            @media screen and (max-width: 500px) {
              font-size: 14px;
            }

          }
        }

        .css-11unzgr {
          padding-top: 0 !important;
          padding-bottom: 0 !important;

          div {
            padding: 4px;
            font-family: "Montserratarm-Medium";
            color: #182E33;
            font-size: 16px;
            @media screen and (max-width: 500px) {
              font-size: 14px;
            }

          }
        }

        .css-26l3qy-menu {
          margin-top: 0 !important;
          border-radius: 0 !important;
          width: 100% !important;
          left: 50% !important;
          transform: translateX(-50%) !important;
          background: #FEDF00;
          color: #182E33;
          box-shadow: 0px 20px 24px -10px rgba(0, 0, 0, 0.51);
          padding: 12px 0;
        }

        .css-1okebmr-indicatorSeparator {
          width: 0;
        }

        .css-1pahdxg-control {
          &:hover {
            border: 1px solid #c4c4c4;
          }

          box-shadow: none;
          cursor: pointer;
          width: 80%;
          flex-direction: row-reverse;
          margin: 0 auto;
          border-radius: 50px;
          min-height: 30px;
          color: white;
          border: 1px solid #c4c4c4;
          font-family: "Montserratarm-Medium";
        }

        .css-319lph-ValueContainer {
          padding: 0px 8px !important;
          justify-content: flex-start;
        }

        .css-1s2u09g-control {
          background: #00000061;
          min-height: 25px;
          font-family: "Montserratarm-Medium";
          font-size: 16px;
          color: #ffffff;
          outline: none;
          width: 80%;
          flex-direction: row-reverse;
          margin: 0 auto;
          border-radius: 50px;
          border: none;
          @media screen and (max-width: 700px) {
            width: 95%;
          }
          @media screen and (max-width: 500px) {
            font-size: 14px;
          }

        }

        .css-14dclt2-Input {
          margin: 0;
          padding: 0;
        }

        .css-14el2xx-placeholder {
          color: #ffffff59;
          font-size: 15px;
          @media screen and (max-width: 500px) {
            font-size: 13px;
          }

        }

        .css-qc6sy-singleValue {
          color: #182E33;
        }

        .css-1n7v3ny-option {
          background: #0000006b;
          cursor: pointer;
          color: white;

          &:active {
            background: #00000061;
          }
        }

        .css-9gakcf-option {
          background: #00000061;

          &:active {
            background: #00000061;
          }
        }

        .css-yt9ioa-option {
          &:active {
            background: #00000061;
          }

          &:focus {
            background: #00000061;
          }
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
        }
      }
    }

    .blanket {
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      position: fixed;
      zindex: 1;
    }
  }
}






